.container {
    width: 100%;
    height: 7.5vh;
    display: flex;
    padding: var(--spacing-sm);
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-light);
    border-bottom: 1px solid var(--border);
}

.nav {
    display: flex;
}

.settings_wrapper {
    margin-right: .75em;
    width: 2.25em;
    height: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.menu_wrapper {
    width: 2.25em;
    height: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.menu_wrapper:hover {
    background-color: var(--border);
    cursor: pointer;
}

.settings_wrapper:hover {
    background-color: var(--border);
    cursor: pointer;
}